@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');
*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  transition: all .2s linear;
  text-transform: capitalize;
}

body {
    background-image: url(../images/background.jpg);
}

header {
    background-color: black;
    width: 100%;
  }
.white {
  color:white;
}
h1 {
    color: white;
    text-align: center;
    font-family: 'Alkatra', cursive;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
p {
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  nav ul {
    list-style: none;
    overflow: hidden; 
    display: flex;
  }
  
  nav ul li {
    font-family: 'Alkatra', cursive;
    font-size: 16px;
  }
  nav ul li a {
    color: white;
    background-color: #ED462F;
    box-shadow: 0 1rem 2rem rgba(black, .4);
    transform: rotate(5deg) scale(1.2);
    padding: 2px;
  }

a:hover,
a:active {
    color: white;
    background-color: #ED462F;
    box-shadow: 0 1rem 2rem rgba(black, .4);
    transform: rotate(5deg) scale(1.2);
    padding: 2px;
    
}



  .logo{
    width: 60px;
    margin-left: 30px;
    margin-right: 30px;
    cursor:pointer;
  }

  .text_box{
    position: relative;
    top: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;

  }


  .text_box h1{
    font-size: 45px;
    margin-bottom: 20px;
    color: #000000;
    bottom: 50 px;
    font-family: 'Roboto', sans-serif;

  }

  .text_box p{
    color: white;
    font-family: 'Roboto', sans-serif;

  }

.text_box a{
    display: inline-block;
    text-decoration: none;
    color: #ff0202;
    font-weight: 900;
    background-color: #fff0f0;
    padding: 10px;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;

}

.ctn {
    display: flex;
}

.col {
    width: 50%;
}

.user_box{
    position: absolute;
    top: 100px;
    right: 6%; 
    margin: 15px;
}
.user_box img{
    position: relative;
    width: 600px;
    height: 100%;
    object-fit: cover;
}

.container{
  max-width: 1200px;
  margin:0 auto;
  padding:3rem 2rem;
}

.container .title{
  font-size: 7.5rem;
  color:rgb(85, 28, 28);
  margin-bottom: 3rem;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Alkatra', cursive;

}

.container .products-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap:2rem;
}

.container .products-container .product{
  text-align: center;
  padding:3rem 2rem;
  background: #fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  outline: .1rem solid #ccc;
  outline-offset: -1.5rem;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;

}

.container .products-container .product:hover{
  outline: .2rem solid rgb(99, 22, 22);
  outline-offset: 0;
}

.container .products-container .product img{
  height: 10rem;
}

.container .products-container .product:hover img{
  transform: scale(.9);
}

.container .products-container .product h3{
  padding:.5rem 0;
  font-size: 2rem;
  color:#444;
  font-family: 'Roboto', sans-serif;
  font-family: 'Alkatra', cursive;

}

.container .products-container .product:hover h3{
  color:#fd0f0f;
}

.container .products-container .product .price{
  font-size: 2rem;
  color:#444;
}

.precio-antes{
  text-decoration: line-through;
  color:#999;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;

}
.descuento{
  color:#fd0f0f;
  font-size: 2rem;
  font-family: 'Alkatra', cursive;

}

.text-center.tittle{
  font-family: 'Bebas Neue', cursive;
  font-size: 5rem;
  color:rgb(0, 0, 0);
  margin-bottom: 3rem;
  text-transform: uppercase;
  text-align: center;
  
}
.products-preview{
  position: fixed;
  top:0; left:0;
  min-height: 100vh;
  width: 100%;
  background: rgba(0,0,0,.8);
  display: none;
  align-items: center;
  justify-content: center;
}

.products-preview .preview{
  display: none;
  padding:2rem;
  text-align: center;
  background: #fff;
  position: relative;
  margin:2rem;
  width: 40rem;
}

.products-preview .preview.active{
  display: inline-block;
}

.products-preview .preview img{
  height: 30rem;
}

.products-preview .preview .fa-times{
  position: absolute;
  top:1rem; right:1.5rem;
  cursor: pointer;
  color:#444;
  font-size: 4rem;
}

.products-preview .preview .fa-times:hover{
  transform: rotate(90deg);
}



.products-preview .preview h3{
  color:#444;
  padding:.5rem 0;
  font-size: 2.5rem;
}

.products-preview .preview .stars{
  padding:1rem 0;
  font-size: 1.7rem;
}


.products-preview .preview .stars span{
  color:#999;
}

.products-preview .preview p{
  line-height: 1.5;
  padding:1rem 0;
  font-size: 1.6rem;
  color:#777;
}

.products-preview .preview .price{
  padding:1rem 0;
  font-size: 2.5rem;
  color:#880202;
}

.products-preview .preview .buttons{
  display: flex;
  gap:1.5rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.products-preview .preview .buttons a{
  flex:1 1 16rem;
  padding:1rem;
  font-size: 1.8rem;
  color:rgb(109, 35, 35);
  border:.1rem solid rgb(112, 38, 38);
}

.products-preview .preview .buttons a.cart{
  background: rgb(119, 26, 26);
  color:#fff;
}

.products-preview .preview .buttons a.cart:hover{
  background: #111;
}

.products-preview .preview .buttons a.buy:hover{
  background: #444;
  color:rgb(17, 1, 1);
}

footer{
  background: #000;
  color:#fff;
  padding:3rem 0;
  text-align: center;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}
@media (max-width:991px){

  html{
    font-size: 55%;
  }

}
@media (max-width:768px){

  .products-preview .preview img{
    height: 25rem;
  }

}

@media (max-width:450px){

  html{
    font-size: 50%;
  }
}


.card {
  border: 1px solid #ccc;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

}

.card-img-top {
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}

.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}



.card-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}